@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Caveat&family=Courier+Prime&family=Open+Sans&family=Roboto&display=swap');

* {
  margin: 0;
}

.wrapper {
  max-width: 700px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid 2px;
  border-radius: 5px;
  background-color: hsl(220, 20%, 70%);
}

.bookmark-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

.addNew, .filter-controls {
  margin: 5px;
}

.filter-controls {
  display: flex;
  flex-direction: column;
}

.bookmark-container {
  display: flex;
  justify-content: center;
}

.bookmark-item {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 5px;
  border: solid 2px;
  border-radius: 5px;
  padding: 10px;
}

.expanded {
  display: block;
  justify-content: space-between;
}

.title, .rating {
  margin: 5px;
}

ul {
  list-style-type: none;
}

li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

.bookmark-list {
  margin: 10px;
  padding: 0;
  width: 100%;
}

.bookmark-header {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin: 5px;
  padding: 5px;
  border: solid 2px;
  border-radius: 5px;
  background-color: hsl(220, 50%, 70%);
}

.add-new-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.add-new-form {
  align-self: center;
  text-align: center;
  padding: 10px;
}

.text-description {
  padding: 8px;
}

input {
  border: solid 1px;
  padding: 3px;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
}
textarea {
  resize: none;
  width: 240px;
  height: 80px;
  font-family: 'Roboto', sans-serif;
  border-radius: 4px;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

label {
  font-weight: 400;
  font-size: 15px;
  display: block;
  padding: 4px;
}

button {
  padding: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  border: solid 1px;
  border-radius: 4px;
  background-color: #fff;
}
button:hover, select:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:link { color: black }
a:visited { color: black; }
a:hover { color: black; }
a:active { color: black; }

@media all and (min-width: 600px) {
  .bookmark-item {
    flex-direction: row;
    
  } 
}